<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yuoj.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="com.yupi.yuoj.model.entity.ChatMessage">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="conversationId" column="conversationId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="files" column="files" jdbcType="VARCHAR"/>
        <result property="timestamp" column="timestamp" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,conversationId,userId,type,
        content,files,timestamp,isDelete
    </sql>

</mapper>
